{{extend 'layout.html'}}
{{block head}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<!--script src="https://code.jquery.com/jquery-1.12.4.js"></script!-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
table {
        font-family: arial, sans-serif;
         border-collapse: collapse;
         width: 100%;
}

td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
}

tr:nth-child(even) {
        background-color: #dddddd;
}
tr.traceback {
    color: red;
}
</style>
 <script>
  $( function() {
          $( "#tabs" ).tabs();
            } );
  </script>
{{end}}

<div>
<a href="{{=URL('list_campaign')}}" class="btn btn-info" role="button">Regresar</a>
</div>

<div id="tabs">

    <ul>
        <li><a href="#tabs-1">Campaign Settings</a></li>
            {{if context:}}
        <li><a href="#tabs-2">Sample Context</a></li>
            {{pass}}
        <li><a href="#tabs-3">Campaign Events</a></li>
        <li><a href="#tabs-4">Campaign Tasks</a></li>
        <!--li><a href="#tabs-5">Campaign Message</a></li!-->
            {{if False:}}
        <li><a href="#tabs-6">Campaign Stats</a></li>
            {{pass}}
    </ul>

    <div id="tabs-1">
            <h3>Campaign Settings</h3>
            {{=form}}
<!--a href="{{=URL('editor','index',args=[campaign.id])}}" class="btn btn-info"
    role="button">Open Editor</a!-->

    </div>

            {{if context:}}
    <div id="tabs-2">
                <h3>Sample Context</h3>
            {{=BEAUTIFY(context)}}
     </div>
            {{pass}}

   <div id="tabs-3">
    <h3>Campaign Events</h3>
        <table>
            <tr>
                <th>FM History</th>
            </tr>


        {{for event  in fm_history:}}
        <tr>
            <td><i>{{=event}}</i></td>
        </tr>
        {{pass}}
        </table>
    </div>

    <div id="tabs-4">
    <h3>Campaign tasks</h3>
        <table>
            <tr>
                <th>TaskID</th>
                <th>group name</th>
                <th>worker</th>
                <th>function name</th>
                <th>status</th>
                <th>last run time</th>
                <th>args</th>
                <th>vars</th>
                <th>run output</th>
                <th>run result</th>
            </tr>

        {{for ts in tasks:}}
          {{if ts:}}
            <tr>
                <td>{{=ts.scheduler_task.id}}</td>
                <td>{{=ts.scheduler_task.group_name}}</td>
                <td>{{=ts.scheduler_task.assigned_worker_name}}</td>
                <td>{{=ts.scheduler_task.function_name}}</td>
                <td>{{=ts.scheduler_task.status}}</td>
                <td>{{=ts.scheduler_task.last_run_time}}</td>
                <td>{{=ts.scheduler_task.args}}</td>
                <td>{{=ts.scheduler_task.vars}}</td>
                <td>{{=ts.scheduler_run.run_output}}</td>
                <td>{{=ts.scheduler_run.run_result}}</td>
        </tr>
              {{if ts.scheduler_run.traceback:}}
			<tr class="traceback">
				<th>traceback</th>
            </tr>
            <tr>
                <td>{{=ts.scheduler_run.traceback}}</td>
            </tr>
            {{pass}}
		{{pass}}

        {{pass}}
        </table>
    </div>

    <!--div id="tabs-5">
        <iframe srcdoc="{{=campaign.html_body}}" sandbox="">
        <p>Your browser does not support iframes.</p>
        </iframe>
        <a href="https://www.putsmail.com/tests/new" target="_blank">
        <p>You can also send tests with PutsMail</p>
        </a>
        <a href="https://www.mail-tester.com/" target="_blank">
            <p>Make sure you obtain a 9 or higher score at www.mail-tester.com, before launching your campaign</p>
        </a>
    </div!-->
            {{if False:}}
    <div id="tabs-6">
        {{=BEAUTIFY(campaign.mg_stats)}}
        {{=BEAUTIFY(campaign.mg_stats_unique)}}
    </div>
            {{pass}}

</div>

<div class="col-sm-8">
<a href="{{=URL('list_campaign')}}" class="btn btn-info" role="button">Regresar</a>
</div>
<script>
$("#campaign_html_body__label").click(function(){
        var e =$(this).next();
        if (e.is(":visible"))
          e.fadeOut('fast');
         else
             e.fadeIn('fast');
});
/*$(document).ready(function () {
         $("#campaign_html_body__label").next().hide();
          });*/
</script>

