{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

{{if 'message' in globals():}}
<h2>{{=message}}</h2>
<p class="lead">{{=T('Campaign Delivery System')}}</p>
<ul>
  <li>{{=T('You are successfully running CDS')}}</li>
</ul>
<div class="cols-md-6 jumbotron">
<!-- <div class="container">-->
    <h3>    Campaign Delivery System® (CDS).</h3>

    <p>La plataforma de produccion y entrega masiva de documentos electronicos.</p>

    <p>Producción y Entrega segura de documentos digitales personalizados (PDF), mediante correo electrónico.</p>

    <p>Produccion Masiva desde cientos hasta millones de documentos </p>

<div class="panel panel-default">
<div class="panel-heading">Ejemplos de Documentos que se pueden entregar mediante CDS:</div>
<div class="panel-body"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>   Estados de Cuenta</div>
<div class="panel-body"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>   Pólizas / Términos y Condiciones</div>
<div class="panel-body"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>   Cartas</div>
<div class="panel-body"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>   Informes</div>
<div class="panel-body"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>   Brochures</div>
</div>

<p>Entrega segura mediante campañas de emails personalizados de forma individual, cada email contiene la URL del documento personalizado.</p>

<p>Panel de control para monitorear la campaña de entrega de correos electrónicos</p>

<ul class="list-group">
<li class="list-group-item">Confirmación de entrega del correo</li>
<li class="list-group-item">Confirmación de apertura del correo</li>
<li class="list-group-item">Confirmación de acceso al documento enviado</li>
</ul>
<p>
Plataforma de almacenamiento de documentos poderosa, segura y escalable, para soportar las mas altas exigencias de almacenamiento de documentos, Infraestructura profesional de entrega de correos electrónicos muy poderosa y escalable, permite integrarse su dominio. (Para envió de email masivos se recomienda crear un dominio dedicado para esta función)
</p>
<ul class="list-group">
<li class="list-group-item">Esquema de costo “pague por lo que usa” con tarifas  claramente establecidas.</li>
<li class="list-group-item">Seguridad en la producción y entrega</li>
<li class="list-group-item">   Autorización online de la producción</li>
</ul>
<!--  </div>-->
</div>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Options")}}
  </div>
  <ul class="list-group">
      <li class="list-group-item"><a href="{{=URL('list_campaign')}}">{{=T('Campaign Manager')}}</a></li>
  </ul>
</div>
{{end}}
