{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

{{if 'message' in globals():}}
<h2>{{=message}}</h2>
<p class="lead">{{=T('Document Delivery System')}}</p>
<ol>
  <li>{{=T('You are successfully running DDS')}}</li>
</ol>
<div><p>
Le presentamos la plataforma de produccion y entrega masiva de documentos electronicos, Document Delivery System® (DDS).

Producción y Entrega segura de documentos digitales personalizados (PDF), mediante correo electrónico.
Produccion Masiva desde cientos hasta millones de documentos 
Ejemplos de Documentos:

Estados de Cuenta
Pólizas / Términos y Condiciones
Cartas
Informes
Brochures

Entrega segura mediante campañas de emails personalizados de forma individual, cada email contiene la URL del documento personalizado.

Panel de control para monitorear la campaña de entrega de correos electrónicos

Confirmación de entrega del correo
Confirmación de apertura del correo
Confirmación de acceso al documento enviado

Plataforma de almacenamiento de documentos poderosa, segura y escalable, para soportar las mas altas exigencias de almacenamiento de documentos, 
Infraestructura profesional de entrega de correos electrónicos muy poderosa y escalable, permite integrarse su dominio. (Para envió de email masivos se recomienda crear un dominio dedicado para esta función)
Esquema de costo “pague por lo que usa” con tarifas  claramente establecidas.
Seguridad en la producción y entrega
   Autorización online de la producción
    </p></div>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Options")}}
  </div>
  <ul class="list-group">
      <li class="list-group-item"><a href="{{=URL('list_campaign')}}">{{=T('Delivery Campaigns')}}</a></li>
  </ul>
</div>
{{end}}
