{{extend 'layout.html'}}
<div class="page-header" style="text-align:center;margin-top:10px;padding-top:5px;">
    <h3>{{=T('Campaigns')}}
        <small>
            <a href="{{=URL('create_campaign')}}" class="btn btn-link" role="button">{{=T('New Campaign')}}</a>
        </small>
    </h3>

</div>

<!-- botones de paginas -->
<div class="row">
    <div class="center-block" style="width:200px;">
        <div style="text-align: center;">
            <small>
                <code> page: {{=page+1}}</code>
            </small>
        </div>
        <div class="btn-group btn-group-justified" role="group" aria-label="page-navigation">
            <a href="{{=URL(args=[page-1])}}" class="btn btn-primary{{if not page:}} disabled{{pass}} btn-sm" role="button">previous</a>
            <a href="{{=URL(args=[page+1])}}" class="btn btn-primary{{if not len(rows)>items_per_page:}} disabled{{pass}} btn-sm" role="button">next</a>
        </div>
    </div>
</div>
<!-- botones de pagina -->

<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <!-- <thead>
                <tr>
                    <th>{{=T('Campaign')}}</th>
                    <th>{{=T('Settings')}}</th>
                    <th>{{=T('mail settings')}}</th>
                    <th>otro</th>
                    <th>{{=T('Actions')}}</th>
                </tr>
            </thead> -->
            <tbody>
                {{for i,row in enumerate(rows): }} {{if i == items_per_page: break}}
                <tr>
                    <th colspan="5" class="campaign-title">{{=row.campaign_name}}</th>
                </tr>
                <tr>

                    <td>
                        <!-- status -->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" style="text-align:center" class="active">Campaign Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="field-label active">ID</td>
                                    <td>{{=row.id}}</td>
                                </tr>
                                <tr>
                                    <td class="field-label active">{{=T('Campaign Name')}}</td>
                                    <td>
                                        <span>{{=row.campaign_name}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field-label active">{{=T('Recipients')}}</td>
                                    <td>
                                        {{if row.total_campaign_recipients:}}
                                        <span>
                                            <mark>{{='{:,}'.format(row.total_campaign_recipients)}}</mark>
                                        </span>
                                        {{pass}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field-label active">{{=T('Status')}}</td>
                                    <td>
                                        <span style="display: inline-block;margin: auto;padding: 5px 10px" class="label label-{{=get_bootstrap_status_style(row.status)}}">
                                            {{=row.status}}
                                        </span>
                                        <span>
                                            <small id="result_{{=row.id}}"></small>
                                        </span>
                                    </td>
                                </tr>
                                {{if row.status in FM_STATES_WITH_PROGRESS_TRACKING:}}
                                <tr>
                                    <td colspan="2">
                                        <!-- prograss bar -->
                                        <div id="status_progress_{{=row.id}}">
                                            <div class="progress" style="width:300px">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{=row.status_progress}}" aria-valuemin="0"
                                                    aria-valuemax="100" style="min-width: 2em; width: {{=int(row.status_progress)}}%;">
                                                    {{='{:3.2f}'.format(row.status_progress)}}%
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                {{pass}}
                                <!-- <tr>
                                    <td colspan="2">

                                    </td>
                                </tr> -->
                            </tbody>
                        </table>

                        <div>
                            <!-- options button -->
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ID:{{=row.id}} option's
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href={{=URL( 'edit_campaign',args=[row.id])}}>Settings</a>
                                    </li>
                                    <li>
                                        {{if row.status in ['defined','documents error','documents ready','in approval']:}}
                                        <a href="{{=URL('editor','ckeditor',args=[row.id])}}" target="_blank">edit body</a>
                                        {{else:}}
                                        <a href="{{=URL('default','get_html_body',args=[row.id])}}" target="_blank">view body in browser</a>
                                        {{pass}}
                                    </li>
                                    <li>
                                        <a href={{=URL( 'list_docs',args=[row.id, 'none'])}}>{{=T('recipients')}} {{if row.total_campaign_recipients:}}
                                            <span class="badge">{{='{:,}'.format(row.total_campaign_recipients)}}</span>
                                            {{pass}}
                                        </a>
                                    </li>
                                    {{if row.status in ['queueing', 'live', 'scheduled', 'finished' ]:}}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{=URL('analitycs',args=[row.id])}}" target="_blank">{{=T('analitycs')}}</a>
                                    </li>
                                    {{pass}}
                                </ul>
                            </div>
                            <!-- button -->
                        </div>

                        <!-- columna 1 -->
                    </td>



                    <td>
                        <!-- columna 2 -->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" style="text-align:center" class="active">Campaign Setttings</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="field-label active">Domain</td>
                                    <td>
                                        <em>@{{=row.mg_domain}}</em>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field-label active">Container</td>
                                    <td>
                                        <code>{{=row.cf_container_folder}}</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field-label active">Type</td>
                                    <td>{{=row.service_type}}</td>
                                </tr>
                                <tr>
                                    <td class="field-label active">Valid period</td>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <small>from:</small>
                                                    </td>
                                                    <td>
                                                        <small>{{=row.available_from}}</small>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <small>to:</small>
                                                    </td>
                                                    <td>
                                                        <small>{{=row.available_until}}</small>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- </div> -->

                    </td>
                    <!-- campaign settings -->

                    <td>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" style="text-align:center" class="active">
                                        {{=T('email settings')}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="field-label active">{{=T('from')}}</td>
                                    <td>{{=row.from_name}} &lt;{{=row.from_address}}&gt;</td>
                                </tr>
                                <tr>
                                    <td class="field-label active">{{=T('subject')}}</td>
                                    <td>{{=row.email_subject}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="cols-md-2 fm-actions" id="fm_actions_{{=row.id}}">
                        {{=get_fm_action_buttons(row.id)}}
                    </td>
                </tr>
                {{pass}}
            </tbody>
        </table>
    </div>
</div>

<!-- botones de paginas -->
<div class="row">
    <div class="center-block" style="width:200px;">
        <div style="text-align: center;">
            <small>
                <code> page: {{=page+1}}</code>
            </small>
        </div>
        <div class="btn-group btn-group-justified" role="group" aria-label="page-navigation">
            <a href="{{=URL(args=[page-1])}}" class="btn btn-primary{{if not page:}} disabled{{pass}} btn-sm" role="button">previous</a>
            <a href="{{=URL(args=[page+1])}}" class="btn btn-primary{{if not len(rows)>items_per_page:}} disabled{{pass}} btn-sm" role="button">next</a>
        </div>
    </div>
</div>
<!-- botones de pagina -->



{{block head}}
<style>
    .modal-header,
    h4,
    .close {
        background-color: #5cb85c;
        color: white !important;
        text-align: center;
        font-size: 30px;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }
</style>
{{end}}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:3px 10px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>
                    <span class="glyphicon glyphicon-lock"></span>Confirm Action</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <div class="form-group" id="mydata"></div>
                <div>
                    <button class="btn btn-info" id="confirm_btn">Confirm</button>
                </div>
                <div class="form-group" id="result"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
        </div>

    </div>
</div>
</div>

<script>
    $(document).ready(function () {
        var data;
        /*<tr class="fm-actions" ...>
             <button class="fm-action" id=....> */
        $(".fm-actions").on("click", ".fm-action", function () {
            data = JSON.parse($(this).attr("data"));
            $("#mydata").html("<h5><p>Please confirm action: <b>" + data.event + "</b> for campaign: <b> (" + data.campaign_id + ") " + data.campaign_name + "</b></p></h5>");
            $("#myModal").modal();
        });

        $("#confirm_btn").click(function () {
            $("#confirm_btn").html("Processing...").prop('disabled', true)
            var ajax_loading = "{{=URL('static','images/ajax-loader.gif')}}";
            $("result_" + data.campaign_id).html(ajax_loading);
            $("fm_state_" + data.campaign_id).html(ajax_loading);
            $("fm_actions_" + data.campaign_id).html(ajax_loading);
            ajax(data.url, [], "result_" + data.campaign_id);
            ajax(data.url_fm_state, [], "fm_state_" + data.campaign_id);
            ajax(data.url_fm_buttons, [], "fm_actions_" + data.campaign_id);
            $('#myModal').modal('toggle');
            $("#confirm_btn").html("Confirm").prop('disabled', false);
        });

    });
</script>