{{extend 'layout.html'}}
<h3>
    Workers
</h3>
<div class="container">
    <table class="table table-striped">
 <thead>
  <tr>
    <th></th>
    <th>host</th>
    <th>group name</th>
    <th>count</th>
  </tr>
        </thead>
        <tbody>
{{for i,(host,grp,c) in enumerate(workers): }}
<tr>
    <td>{{=i+1}}</td>
    <td>{{=host}}</td>
    <td>{{=grp}}</td>
    <td>{{=c}}</td>
  </tr>
    {{pass}}
        </tbody>
</table>
        Total {{=count}}
</div>
<hr>
<h3>
    Events Horizont
</h3>
<div>
    datetime : {{=events_horizont['dt']}}, timestamp : {{=events_horizont['ts']}} <i>({{=events_horizont['pd']}})</i>
</div>
{{if ticker:}}
<hr>
<h3>
    Ticker Stats
</h3>
<div>
    {{=BEAUTIFY(ticker)}}
</div>
{{pass}}

{{if workers_rows:}}
<h3>
        Worker Tasks
    </h3>
    <div>
        {{=BEAUTIFY(workers_rows)}}
    </div>
{{pass}}
{{if tasks:}}
<hr>
<h3>
    Tasks in progress
</h3>
<div>
    {{=BEAUTIFY(tasks)}}
</div>
{{pass}}
{{if completed_tasks:}}
<hr>
<h3>
    recently completed Tasks
</h3>
<div>
    {{=BEAUTIFY(completed_tasks)}}
</div>
{{pass}}